/*------------------------------------------Footer---------------------------*/

/*Variables*/
:root {
  --font-size-body:1rem;
  --font-size:1.2rem;
}

.light-mode {
  --footer-color: #222;
  --footer-bg-color: #F0F0F0;
}

.dark-mode {
  --footer-color: #FFF;
  --footer-bg-color: rgba(0, 0, 0, 0.4);
}


.footer_container {
  position:absolute;
  /*bottom: 0;*/
  width:100%;
  display:block;
  background-color: #000;
  color:#ffffff;
  margin-top: 4rem;
  }
  
 

  .footer_container .social {
    text-align:center;
    padding-top: 0.6rem;
  }
  
  .footer_container .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer_container .social > a:hover {
    opacity:0.9;
  }

  .footer {
    display: flex;
    justify-content:space-between;
    font-size: var(--font-size);
    padding: 1.4rem;
    height: 80px;
    color: var(--footer-color);
    background: var(--footer-bg-color);

  }

  .footer_logo {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .footer_logo img {
    transform: translate(-23px, -85px);
    width: 160px;
    margin-top: 0.8rem;
  
  }
  
  .footer_links {
    display: flex;
  }

  .footer_link {
    padding: 0 10px;
  }

  .footer_link > a:hover {
    color: #a3875e;
  }

  .footer_link > a {
    text-decoration: none;
    color: var(--footer-color);
  }

 .copyright {
    text-align:center;
    font-size:13px;
    color:white;
    padding-bottom:1rem;
  }

  /*--------------------------Mode Respensive pour le footer----------------------------*/

/*Petites tailles --------------------------------*/
/*@media screen and (max-width:435px) {

  .footer_container {
    display: block;
  }

  .footer {
    display: flex;
    margin-top: 1rem;
  }
  .social {
    margin-left: 2rem;
  }
  
  .footer_links {
    font-size: 0.8rem;
    margin-top: -1rem;
  }

  


}*/

@media screen and (min-width:375px) and (max-width:600px) {
  .footer_container {
    display: block;
  }
  
  .footer {
    display: flex;
    margin-top: 1rem;
  }

  .social {
    margin-left: 2rem;
  }

  .footer_links {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: -1rem;
  }
  .footer_container .social > a {
    padding-top: 0px;
  }

  .footer_logo img {
    display: none;
  }

  .copyright {
    text-align: center;
    font-size: 13px;
    color: white;
    padding-bottom: 1rem;
    margin-top: -1rem;
  }
}

@media screen and (min-width:601px) and (max-width:820px) {
  .headr h1 {
    font-size: 1rem;
  }
  .footer_links {
    margin-top: -21%;
    margin-left: 21%;
  }

  .footer_container .social > a {
    border: none;
  }
}

  /*Taille grande---------*/
@media screen and (min-width:821px) and (max-width:1024px) {

    .footer_link > a::after {
      display: block;
      content: "";
      width: 0;
      height: 2px;
      background:var(--footer-color);
      transition:width.4s;
    }

    .footer_link:hover > a::after {
      width: 100%;
    }

    .header h1 {
      font-size: 1rem;
    }

    .footer_container .social {
      border: none;
    }

    .maps {
      margin-left: 8%;
    }






}


 
 