/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

/*Variables*/
:root {
  --font-size-body:1rem;
  --font-size:1.2rem;
  --dark:rgba(0, 0, 0, .5);
  --light:rgba(255, 255, 255, .5);
  --accent: rgba(255, 0, 0, .5);
  --link:rgba(216, 166, 0, 1);
  --body-color : rgba(0, 0, 0, 1);
  --form-color : rgba(7, 7, 239, 0.2);
  --contact-bg-color:rgba(251, 246, 246, 1);
  --select-color:rgba(15, 14, 14, 1);
  --input-bg-color:rgba(255, 0, 0, 1);
}

.light-mode {
  --navbar-color: rgba(34, 34, 34, 1);
  --navbar-bg-color: rgba(255, 255, 255, 1);
  --footer-color: rgba(34, 34, 34, 1);
  --footer-bg-color: rgba(255, 255, 255, 1);
}

.dark-mode {
  --navbar-color: rgba(255, 255, 255, 1);
  --navbar-bg-color: rgba(0, 0, 0, 1);
  --footer-color: rgba(246, 242, 242, 1);
  --footer-bg-color: rgba(0, 0, 0, 0.4);
}

/*Reset*/
*, *::after, *::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;    
}

html, body {
  height:100%;
}

body {
  font-size: var(--font-size-body);
  font-family:'Poppins', sans-serif;
}

ul {
  list-style: none;
}

.main-content {
  padding: 1rem;
}

/*Navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  padding: 10px;
  height: 100px;
  color: var(--navbar-color);
  background: var(--navbar-bg-color);
}

.navbar_logo img {
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.navbar_links {
  display: flex;  
}

.navbar_link {
  padding: 0 10px;
}

.navbar_link > a {
  text-decoration: none;
  color: var(--navbar-color);
  font-size: 1.2rem;
}

.burger, .menu {
  display: none;
}

/*Menu deroulant Recette et Article-------*/
.dropdown_content {
  display: none;
  position: absolute;
  background-color:var( --navbar-bg-color);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  float: none;
  color: #F0F0F0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.fa-caret-down {
  margin-left: 0.2rem;
  font-size: 1rem;
}

.dropdown_content a:hover {
  background-color: rgba(179, 131, 10, .5);
}

.four, .fifth {
  float: left;
  overflow: hidden;
}
.four:hover .dropdown_content, .fifth:hover .dropdown_content{
  display: block;
}

/*-----------------------------------------Page d'accueil--------------------------------*/
/*Section carousel ---*/
.carousel {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.diapo {
  position: relative;
  overflow: hidden;
}

.elements {
  display: flex;
}

.element {
  flex: 1 0 100%;
  position: relative;
}

.element > img {
  width: 100%;
  height: 650px;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .4);
  text-align: center;
  padding:10px ;
}

.fa-chevron-left, .fa-chevron-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.fa-chevron-right {
  right: 0;
}

/*Section cards-recipes---*/
.cards-recipes {
  width: 80%;
  margin: auto;
}
.cards-elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  align-items: center;
}

.element-card img {
  width: 100%;
}

.recipes {
  text-align: center;
}

.recipes h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.recipes span {
  color: #a3875e;
  font-size: 120%;
}

.captions {
  position: absolute;
  bottom: -50%;
  margin-left: 3.4%;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
  padding:10px ;
  color: black;
  width: 12%;
}

/*Section card-cocktail---*/
.card-cocktail {
  display: flex;
  margin: 4rem 1rem 0 1rem; 
  width: 80%;
  margin: auto;
  margin-top: 4rem; 
}

.content-cocktail {
  display: block; 
  margin-left: 4rem; 
  margin-bottom: 20%;
}

.img-cocktail img {
  width: 100%;
}

.title-para {
  margin-bottom: 2rem;
}

.title-para span {
  color: #a3875e;
  font-size: 120%;
}

.title-para h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.btn-cocktail {
  border: 1px solid black;
  width: 40%;
  text-align: center;
  height: 50px;
  padding-top: .4rem;
  border-radius: 5px;
  background-color: black;
  margin-left: 36%;
  margin-top: 3rem;
}

.btn-cocktail a {
  text-decoration: none;
  color: white;
  font-size: 22px;
} 

.btn-cocktail:hover {
  background-color: #c8892a;
}

/*-------------------Page Recipe------------------------*/
.link {
  text-decoration: none;
  color: var(--accent);
}

/*Container---*/
.container {
  max-width: 1200px;
  margin: auto auto 15% auto;
  padding:1.5rem;
}

.container h1 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.btn-add-recipe {
  text-decoration: none;
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background: var(--body-color);
  padding: 13px 25px;
  position: relative;
  float: right;
  margin: 1rem 3rem 0.4rem auto;
}

.btn-add-recipe:hover {
  background-color: #c8892a;
}

/*Cards*/
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 10%;
}

.card {
  box-shadow: .25rem 0 .8rem rgba(0, 0, 0, .15);
}

.card-content {
  padding: 1rem;
}
.card img {
  width: 100%;
}

.paragraph {
  height: 260px;
}

.paragraph h2 {
  font-size: 1rem;
}

/*container_links*/
.container_links a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.6rem 0.75rem;
  margin-top: 0.8rem ;
  margin-bottom: 0.8rem;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 3rem;
  cursor: pointer;
}

.link_learn a {
  background-color: var(--link);
  color: var(--dark);
}

.link_edit a {
  background-color: var(--dark);
  color: var(--light);

}

.link_delet a {
  background-color: var(--accent);
  color: var(--dark);
  cursor: pointer;
}

/*Les étapes de la recette*/
ul > h3 {
  padding: 1rem;
}

.form-select .role {
  border: none;
  font-size: 16px;
  padding-top: .3rem;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

/*---- css de méssage d'erreur----*/
.successMsg {
  margin: 2rem auto;
  width: 40%;
  text-align: center;
  background-color: rgba(29, 158, 29, .8);
  color: white;
  font-size: 1.2rem;
}

.errors {
  color: rgba(255, 0, 0, 1);
  margin-top: -2rem;
}

.errorMsg {
  color: rgba(255, 0, 0, 1);
  margin: 2rem auto;
  width: 40%;
  text-align: center;
}

.sup {
  color: rgba(54, 54, 239, .8);
}

.paragraph p {
  margin-top: 1rem;
}

/*---------------CSS de tous les modales---------------------*/
.btn_cancel {
  float: left;
  width: 50%;
  height: 50px;
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer; 
}

.btn_delete {
  float: right;
  width: 50%;
  height: 50px;
  margin-top: 5rem;
  font-size: 1rem;
  cursor: pointer;
}

.container_modal {
  text-align: center;
}

.container_modal > h3 {
  margin-top: 1rem;
}

.container_modal > h1 {
  margin-top: 2rem;
}

.btn_cancel {
  background-color: #ccc;
  color: black;
}

.btn_delete {
  background-color: #f44336;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 25%;
  top: 5rem;
  width: 40%;
  overflow: auto; 
  background-color: #a3a8b2;
  padding-top: 50px;
}

.modal_content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 60%;
}

.close_modal {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #070606;
}

.close_modal:hover, .close_modal:focus {
  color: #f44336;
  cursor: pointer;
}

/*Modal footer recipe*/
.footer::after {
  content: '';
  clear: both;
  display: table;

}

/*Le modal pour modifier les ingredients et les étapes------------*/

.modal_ingredient, .modal_step {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 25%;
  top: 5rem;
  width: 50%;
  overflow: auto; 
  background-color: #a3a8b2;
  padding-top: 50px;
}

.modal_ingredient {
  height: 550px; 
}

.modal_step {
  height: 450px; 
}

.close_modal_ingredient, .close_modal_step, .close_modal_ingredient_delete, .close_modal_step_delete {
  position: absolute;
  right: 15px;
  top: 1px;
  font-size: 40px;
  font-weight: bold;
  color: #070606;
}

.close_modal_ingredient:hover, .close_modal_ingredient:focus, 
.close_modal_step:hover, .close_modal_step:focus,
.close_modal_ingredient_delete:hover, .close_modal_ingredient_delete:focus {
  color: #f44336;
  cursor: pointer;
}
.close_modal_step_delete:hover, .close_modal_step_delete:focus {
  color: #f44336;
  cursor: pointer;
}

.container_modal_ingredient, .container_modal_step {
  padding: 16px;
  text-align: center;
  height: 60px;
}
.container_modal_ingredient > h3, .container_modal_step > h3 {
  text-align: center;
}

.btn_cancel_ingredient, .btn_cancel_step, .btn_cancel_ingredient_delete, .btn_cancel_step_delete  {
  float: left;
  width: 50%;
  height: 50px;
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn_update, .btn_delete {
  float: right;
  width: 50%;
  height: 50px;
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn_cancel_ingredient, .btn_cancel_step, .btn_cancel_ingredient_delete, .btn_cancel_step_delete {
  background-color: #ccc;
  color: black;
}

.btn_update {
  background-color: rgb(9, 151, 9);
}

.fa-pen-to-square, .fa-trash-can {
  font-size: 22px;
}

.btn_update_ingredient {
  margin-right: 1.5rem
}

.btn_delete_ingredient {
  margin-left: 1.5rem;
}

.btn_update_ingredient:hover, .btn_update_ingredient:focus, .btn_update_step:hover, .btn_update_step:focus {
  background-color: #048a14;
  cursor: pointer;
}

.btn_delete_ingredient:hover, .btn_delete_ingredient:focus, .btn_delete_step:hover, .btn_delete_step:focus {
  background-color: #e30401;
  cursor: pointer;
}

.footer_ingredient {
  display:flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

/*-----Le modal pour supprimer les ingrédients et les étapes------*/
.modal_ingredient_delete, .modal_step_delete {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 25%;
  top: 5rem;
  width: 40%;
  height: 45%; 
  overflow: auto; 
  background-color:  #a3a8b2;
}

.container_modal_delete {
  text-align: center;
  height: 150px;
 }

 .container_modal_delete > h3 {
  margin-top: 1rem;
}

.container_modal_delete > h2 {
  margin-top: 2rem;
}

/*------page contact---------------*/
.container-contact {
  width: 80%;
  background: #fff;
  border-radius: 5px;
}

.container-contact .header {
  font-size: 18px;
  font-weight: 500;
  padding: 20px 30px;
  border-bottom: 1px solid #bfbfbf;
  margin-left: 13%;
  width: 100%;
  border: 1px solid rgb(240, 238, 238);
  background-color: var(--contact-bg-color);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgb(26, 56, 26);
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.header p {
  font-size: 16px;
  font-weight: 400;
}

.required {
  color:rgba(255, 0, 0, 1)
}

.card-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0 4rem 13%;
  width: 100%;
}

.text-small-para {
  font-size: 1rem;
  color: gray;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card-contact h4 {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  color: black;
}

.phone, .email, .address {
  margin-left: 43%;
  -moz-border-radius: 50px/50px; 
  -webkit-border-radius: 50px 50px; 
  border-radius: 50px/50px; 
  width: 50px; 
  height: 50px; 
  margin-top: 1.4rem;
  background-color: var(--body-color);
  border: 1px solid black; 
}

.phone:hover, .email:hover, .address:hover {
  background-color: rgba(179, 131, 10, 1);
}

.card-phone, .card-email, .card-address {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--contact-bg-color);
  box-shadow: 0px 5px 5px rgb(26, 56, 26);
}

.fa-phone-volume, .fa-at, .fa-map-location-dot {
  margin-top: 1rem;
  margin-left: 1rem;
  color: rgba(255, 255, 255, 1);
}

.card-email > a, .card-phone > a {
  text-decoration: none;
}

.card-email .text-small-para, .card-phone .text-small-para {
  color: #0d6efd;
}

.card-phone:hover, .card-email:hover, .card-address:hover, .presta:hover {
  transform: translateY(-5px);
}

.card-phone, .card-email {
  cursor: pointer;
}

.maps {
  margin-left: 11%;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.container-contact .form-contact {
  margin: 35px 30px;
  margin-left: 13%;
  border: 1px solid var(--body-color);
  background-color:var(--contact-bg-color);
  box-shadow: 0px 5px 5px rgba(26, 56, 26, 0.8);
}

.form-contact .db-field {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
}

.db-field .field {
  height: 50px;
  position: relative;
  width: calc(100% / 2 - 13px);
  margin-bottom: 2em;
}

.form-contact .field input,
.form-contact {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
}

.form-contact .field input::placeholder,
.form-contact .message textarea ::placeholder {
  color: #bfbfbf;
}

.form-contact .field input:focus,
.form-contact .message textarea:focus {
  border: 2px solid var(--form-color);
}

.container-contact .form-contact i {
  position: absolute;
  left: 18px;
  top: 95%;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

.form-contact .field input:focus ~ i {
  color: #0d6efd;
}

.form-contact .message {
  position: relative;
  width: 98%;
}

.form-contact .message i {
  top: 2.8rem;
  font-size: 20px;
}

.form-contact .message textarea {
  padding: 8px 15px 0 48px;
}

.form-contact .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.button-area button {
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background: var(--body-color);
  padding: 13px 25px;
}

.button-area span {
  color: var(--form-color);
  margin-left: 30px;
  display: none;
}

/*----maps---*/
.maps iframe {
  width:100%;
  height:450px; 
  border:0;
  margin: 1rem 0 1rem 1.8rem;
}

/*-------Page login------*/
.main_login img {
  width:100%
}
.container_login{
  width:400px;
  margin:0 auto;
  margin-top:8%;
}

.form-login {
  width:100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container_login h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

input[type=submit] {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}
input[type=submit]:hover {
  background-color:#a3875e;
  color:white;
  border: 1px solid #53af57;
}

.card-footer a {
color: rgb(8, 8, 246, .8);
}
/*-----Page form---*/
.wrapper header {
  font-size: 18px;
  font-weight: 500;
  padding: 20px 30px;
  border-bottom: 1px solid var(--select-color);
}

header p {
  font-size: 16px;
  font-weight: 400;
}

.required {
  color:var(--input-bg-color);
}

.wrapper form {
  margin: auto auto 20% auto;
  width: 70%;
}

.dbl-field {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
  margin-top: 2rem;
}

.dbl-field .field {
  height: 50px;
  position: relative;
  margin-bottom: 3em;
  width: 100%;
  margin-right: 2rem; 
}

.add-step {
  margin-top: 2rem;
}

.img {
  margin-top: 3rem;
}

.form-label {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  margin-top: -1px;
  margin-bottom: 2rem;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid  var(--select-color);
}

form .field input::placeholder,
form .message textarea ::placeholder {
  color:var(--select-color);
}

form .field input:focus,
form .message textarea:focus {
  border: 2px solid var(--form-color);
}

.fa-user, .fa-envelope, .fa-key {
  position: absolute;
  left: 18px;
  top: 95%;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

.fa-plus {
  font-size: 2rem; 
}

form .field input:focus ~ i {
  color: #0d6efd;
}

form .message {
  position: relative;
  width: 95%;
}

form .message i {
  top: 2.8rem;
  font-size: 20px;
}

form .message textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-width: 300px;
  padding: 8px 15px 0 48px;
  margin-bottom: 2rem;
  font-size: 1rem;
}

form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.form-select {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--select-color)  ;
}
select .role {
  border: none;
  font-size: 16px;
  color: var(--select-color);
  padding-top: .3rem;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.categories {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid  var(--select-color);
}
 
form label {
  font-size: 1.2rem;
}

form .field .input
 {
  font-size: 16px;
  padding-top: .8rem;
  height: 100%;
  width: 100%;
  margin-top: 1rem; 
}

.button-area button {
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background: var(--body-color);
  padding: 13px 25px;
  margin-top: 1rem;
}

.button-area .update {
  margin-right: 2rem;
}

.button-area button:hover {
  background-color: rgba(179, 131, 10, 1);
  color: var(--body-color);
}

.button-area span {
  color: var(--form-color);
  margin-left: 30px;
  display: none;
}

.add {
  width: 5%;
  font-size: 2rem;
  margin-left: 2rem;
}

.add_ingredient {
  width: 12%;
  font-size: 2rem;
  margin-left: 4rem;
}

.add_step {
  width: 12%;
  font-size: 2rem;
  margin-left: 6.6rem;
}

.input-delet {
  height: 100%;
  width: 20%;
  outline: none;
  margin-top: 1.4rem;
  color: rgba(0, 0, 0, 1);
}

/*--------CSS de tous les tableaux----*/
.list {
  text-align: center;
  margin-top: 2rem;
}
.table {
  min-width: 100%;
  min-height: 100%;
  padding: 20px;
}

.table table {
  width: 90%;
  height: 100%;
  margin: 0 auto 20% auto;
  padding: 15px;
}

tbody {
  text-align: center;
  color:#235a81;
  font-size: 0.8rem;
}

tr {
  background: #ccc;
}

tr:nth-child  {
  background: #fff;
}

tr td {
  padding: 6px;
  font-size: 1rem;
}

td a {
  text-decoration: none;
  padding: 1rem;
}

td a:hover {
  color: #fff;
}

tr:hover {
  background: #444;
  color: #fff;
}

thead th {
  background: #888;
  font-size: .9rem;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px;
}

/*----footer------*/
.footer_container {
  position:fixed;
  bottom: 0;
  width:100%;
  display:block;
  background-color:#000;
  color:#ffffff;
  margin-top: 4rem;
  }

.footer_container .social {
  text-align:center;
  padding-top: 0.6rem;
}

.footer_container .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer_container .social > a:hover {
  opacity:0.9;
}

.footer {
  display: flex;
  justify-content:space-between;
  font-size: var(--font-size);
  padding: 1.4rem;
  height: 80px;
  color: var(--footer-color);
  background: var(--footer-bg-color);
}

.footer_logo {
  position: relative;
  left: 0;
  bottom: 0;
}

.footer_logo img {
  transform: translate(-23px, -85px);
  width: 160px;
  margin-top: 0.8rem;
}

.footer_links {
  display: flex;
}

.footer_link {
  padding: 0 10px;
}

.footer_link > a:hover {
  color: #a3875e;
}

.footer_link > a {
  text-decoration: none;
  color: var(--footer-color);
}

.copyright {
  text-align:center;
  font-size:13px;
  color:white;
  padding-bottom:1rem;
}

/*--------------------------------Responsive de toutes les pages-------------------*/
/*-----------Responsive pour la navbar petite taille--------*/
@media screen and (min-width:375px) and (max-width:768px) {
  .navbar_links {
    display: flex;
    flex-direction: column;
    width: 0;
    height:calc(100vh - 60px) ;
    position: absolute;
    top: 65px;
    right: 0;
    background: var(--navbar-bg-color);
    transition: all .5s ease-in-out;
    margin-top: 2rem;
    z-index: 100;
  }

  .show-nav .navbar_links {
    width: 100%;
    z-index: 99;
  }

  .navbar_link {
    transform: translateX(101%);
  }
  .show-nav .navbar_link {
    transform: translateX(0);
  }

  .navbar_link > a {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    transition:all .4s ease-in-out;
  }

  .navbar_link > a:hover {
    padding-left: 2rem;
    letter-spacing: 3px;
  }
/*--toglle menu--*/
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
    margin-left: 3rem;
  }

  .menu {
    display: block;
    margin-left: .8em;
  }

  .bar {
    display: block;
    width: 45px;
    height: 4px;
    background: var(--navbar-color);
    border-radius: 3px;
    transition: all .5s ease-in-out;
  }

  .show-nav .bar {
    width: 0;
    background: transparent;
  }

  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute;
    left: 0;
    background:var(--navbar-color);
    border-radius:3px;
    transition: all .5s ease-in-out;
  }

  .bar::before {
    transform: translateY(-12px);
  }

  .show-nav .bar::before {
    transform: rotate(45deg);
  }

  .bar::after {
    transform: translateY(12px);
  }

  .show-nav .bar::after {
    transform: rotate(-45deg);
  }

  /*Bonus Animations*/
  .show-nav .first {
    transition: all 1s ease-out;
  }

  .show-nav .second {
    transition: all 1.1s ease-out;
  }

  .show-nav .third {
    transition: all 1.2s ease-out;
  }

  .show-nav .four {
    transition: all 1.3s ease-out;
  }

  .show-nav .fifth {
    transition: all 1.4s ease-out;
  }

  .show-nav .sixth {
    transition: all 1.5s ease-out;
  }

  .show-nav .seventh {
    transition: all 1.6s ease-out;
  }

  /*-------------menu déroulant------*/
  .dropdown_content {
    max-width: 200px;
  }

  .dropdown_content a {
    font-size: 1rem;
  }

  .four:hover .dropdown_content, .fifth:hover .dropdown_content{
    display: block;
    margin-left: 7rem;
    width: 70%;
    position:relative;
  }
}

  /*--------------------Responsive page d'acceuil petite taille-----------------*/
  @media screen and (min-width:375px) and (max-width:600px) 
{
    .element > img {
      width: 100%;
      height: 100%;
    }

    .caption {
      font-size: .5rem;
      width: 80%;
      }

    .cards-elements {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }

    .captions {
      position: relative;
      margin-left: 21%;
      width: 60%;
      transform: translateY(-540px);
    }

    .captions h2 {
      font-size: 1rem;
    }
    
    .element-card {
      margin-top: -3rem;
    }
    .element-card a {
      text-decoration: none;
    }

    .card-cocktail {
      display: block;
      margin-top: -1rem;
    }

    .content-cocktail {
      margin-left: 0rem;
      margin-bottom: 70%;
    }

    .btn-cocktail {
      width: 100%;
      margin-left: 0;
    }

    .title-para h2 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      }
      
      .recipes h2 {
      font-size: 1.3rem;
      margin-bottom: 4rem;
      } 
      
    /*------Page recette--------*/
    .container {
      margin: auto auto 25% auto;
    }

    .container h1 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    
    .cards {    
      grid-template-columns: repeat(1, 1fr);
    }

    .paragraph {
        height: 250px;
    }

    .paragraph h2 {
      font-size: 1rem;
    }
    /*-----modal--*/
    .btn_cancel, .btn_delete {
      width: 100%;
    }
  
    .footer_step {
      display:flex;
      flex-direction: column;
      width: 100%;
      margin-top: 3rem;
    }

    .btn-add-recipe {
      margin-top: 0.6rem;
      margin-right: 1rem;
    }

    /*-------------------Page contact--------*/
    .container-contact {
      width: 80%;
    }
  
    .card-contact {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  
    .container-contact h1 {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      font-size: .9rem;
    }
  
    .container-contact .header {
      text-align: center;
    }
  
    .form-contact .db-field {
      margin-bottom: 0px;
      flex-direction: column;
    }
  
    .db-field .field {
      width: 100%;
      margin-bottom: 20px;
    }

    .form-contact .button-area {
      flex-direction: column;
    }
  
    .button-area button {
      width: 100%;
      margin: 20px 0;
    }
  
    .button-area span {
      text-align: center;
      margin: 15px;
    }
    .maps {
      margin-left: 4%;
      margin-bottom: 80%;
    }

    /*-------page connexion----*/
    .form-login {
      padding-left: 1.09rem;
      padding-right: 2.4rem;
    }

    /*----Form---*/
    .wrapper header {
      text-align: center;
    }
  
    form .dbl-field {
      margin-bottom: 0px;
      flex-direction: column;
    }
  
    form label {
      font-size: 1rem;
    }
  
    .field {
      margin-top: 1em;
    }
  
    form .button-area {
      flex-direction: column;
    }
  
    .button-area button {
      width: 100%;
      margin: 20px 0;
      margin-right: 2rem;
    }
  
    .button-area button:hover {
      background-color: rgba(179, 131, 10, .5);
    }
  
    .button-area span {
      text-align: center;
      margin: 15px;
    }
  
    .button-area {
      margin-right: 2rem;
    }
  
    .input-delet {
      margin-top: 0px;
    }

    .wrapper form {
      margin: auto auto 60% 14%;
      width: 80%;
    }
  
    .form-contact .message {
      margin-left: -1.3rem;
      width: 100%;
    }
  
    form .message textarea {
      min-height: 120px;
      max-width: 100%;
    }
  
    .dbl-field .field {
      margin-bottom: 1em;
    }
  
    .dbl-field {
      margin-top: 1rem;
    }
  
    form .message {
      top: 1rem;
    }

    /*-------footer-------*/
    .footer_container {
      display: block;
    }

    .footer {
      display: flex;
      margin-top: 1rem;
    }
  
    .footer_links {
      display: flex;
      justify-content: center;
      margin-top: -1rem;
      font-size: 0.8rem;
    }
  
    .footer_container .social {
      padding-top: 0.6rem;
      display: flex;
      justify-content: center;
    }

    .social {
      margin-left: 2rem;
    }
  
    .footer_container .social > a {
      padding-top: 0px;
    }
  
    .footer_logo img {
      display: none;
    }
  
    .copyright {
      margin-top: -1rem;
    }
  }

/*------------------responsive page d'accueil taille moyenne-----*/
@media screen and (min-width: 601px) and (max-width: 820px) {

  /*----Croussel------*/
    .element > img {
      width: 100%;
      height: 100%;
    }
  
    .caption {
      width: 80%;
    }
  
    .caption h2 {
      font-size: 1.1rem;
    }
    /*-----Accueil-------------*/
    .cards-elements {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  
    .captions {
      position: relative;
      margin-left: 20%;
      width: 60%;
      transform: translateY(-520px);
    }
  
    .element-card a {
      text-decoration: none;
    }
  
    .captions p {
      font-size: 1.2rem;
    }
  
    .title-para h2 {
      font-size: 1.2rem;
      margin-bottom: 0rem;
    }
  
    .btn-cocktail {
      width: 60%;
      margin-top: -1rem;
      margin-bottom: 2rem;
      padding-top: .7rem;
    }
  
    .btn-cocktail a {
      font-size: 1rem;
    }
  
    .content-cocktail {
      margin-bottom: 25%;
    }

    /* -----Page recette----*/
    .cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .card-content .paragraph >h2 {
      font-size: 1rem;
      margin-bottom: 0.6rem;
    }
  
    .paragraph p {
      margin-top: 0rem;
    }
  
    .container >h1 {
      font-size: 1.3rem;
      margin-bottom: 1rem;  
    }
  
    .element-card {
      margin-bottom: -6rem;
    }

    /*--modal---*/
    .modal {
      left: 20%;
      top: -1rem;
      width: 60%;
    }
  
    .container_modal > h1 {
      margin-top: 1rem;
      font-size: 1.1rem;
    }
    
    /*----page contact----*/
    .wrapper {
      width: 90%;
      padding: 0px 10px;
      margin: auto;
      border-radius: 5px;
      background: #fff;
      display: flex;
      align-items: center;
    }

    .wrapper form {
      margin-bottom: 70%;
    } 
  
    .form-contact .message {
      width: 95%;
    }
  
    .phone, .email, .address {
      margin-left: 34%;
    }
  
    .header h1 {
      font-size: 1rem;
    }
  
    .maps {
      margin-left: 7%;
      margin-bottom: 20%;
    }
  
    .field label {
      font-size: 1rem;
    }

    /*----footer---*/
    .footer {
      display: block;
      font-size: var(--font-size-body);
      margin-left: 1rem;
      padding: 0;
      margin-bottom: -2rem;
    }
  
    .footer_logo img {
      display: none;
    }
  
    .header h1 {
      font-size: 1rem;
    }
  
    .footer_links {
      margin-right:15%;
      margin-left: 15%;
      padding-top: .7rem;
    }
  
    /*.footer_container .social > a {
      border: none;
    }*/
  
  }
/*----Responsive navbar taille moyenne ------------*/
@media screen and (min-width:769px) and (max-width:920px) {
  .navbar_link > a::after {
    display:block;
    content:"";
    width:0;
    height:2px;
    background:var(--navbar-color);
    transition:width.4s;
  }
  .navbar_link a {
    font-size: 1rem;
  }

  .navbar_link {
    padding: 0 5px;
  }
  .navbar_links {
    margin-left: 13%;
  }

  .navbar_link:hover > a::after {
    width:100%;
  }

  .fa-caret-down {
    margin-left: 0rem;
    font-size: .8rem;
  }

  .four:hover > a::after {
    width: 140px;
  }
  
  .fifth:hover > a::after {
    width: 140px;
  }

  .four:hover .dropdown_content, .fifth:hover .dropdown_content{
    display: block;
    margin-left: 1rem;
    position: absolute;
    margin-top: .8rem;
  }

  .dropdown_content {
    max-width: 200px;
  }

  .dropdown_content a {
    font-size: 1rem;
  }

  .recipes h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  } 
}
  /*----Grande taille---*/
@media screen and (min-width:821px) and (max-width:1024) {
  /*---Accueil---*/
  .captions {
    bottom: 0;
    font-size: 0.8rem;
    transform: translateY(-330px);
  }

  .captions p {
    font-size: 1.2rem;
  }

  .element > img {
    height: 400px;
  }

  .caption {
  font-size: .8rem;
  width: 80%;
  }

  .content-cocktail {
    margin-bottom: 30%;
  }

  .btn-cocktail {
    width: 70%;
    padding-top: .6rem;
  }

  .btn-cocktail a {
    font-size: 1rem;
  }

  .title-para h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  /*-----Page recette----*/
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .paragraph {
    height: 300px;
  }

  .paragraph p {
    font-size: 0.9rem;
  }

  .paragraph h2 {
    font-size: 1rem;
  }

  /*---form--*/
  .wrapper form {
    margin: 0 auto;
    margin-bottom: 25%;
  }

  .wrapper {
    min-height: 80vh;
  }

  /*-----footer---*/
  .footer_link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background:var(--footer-color);
    transition:width.4s;
  }

  .footer_link {
    font-size: 1rem;
  }

  .footer_link:hover > a::after {
    width: 100%;
  }

  .header h1 {
    font-size: 1rem;
  }

  .footer_container .social {
    border: none;
  }

  .maps {
    margin-left: 8%;
  }
}
  
/*---Grande taille navbar --------------------------------------*/
@media screen and (min-width:921px) {
  .navbar_links {
    display: flex;
    margin-left: 3rem;
  }

  .navbar_link > a::after {
    display:block;
    content:"";
    width:0;
    height:2px;
    background:var(--navbar-color);
    transition:width.4s;
  }

  .navbar_link:hover > a::after {
    width:100%;
  }

  .four:hover > a::after, .fifth:hover > a::after {
    width: 100%;
  }

  /*---contact---*/
  .maps {
    margin-bottom: 20%;
    margin-left: 11%;
  }
}

@media screen and (min-width:1024px) {
  .form-login {
    margin-top: -4rem;
    margin-bottom: 50%;
  }
}





