/*----------------------------------------Recipe------------------------*/


/*Variable*/
:root {
  --dark:rgba(0, 0, 0, .5);
  --light:rgba(255, 255, 255, .5);
  --accent: rgba(255, 0, 0, .5);
  --link:rgba(216, 166, 0, 1);
}

/*Reset--- */
*, *::after, *::before {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: var(--accent);
}

/*Container---*/
.container {
  max-width: 1200px;
  margin: auto;
  padding:1.5rem;
}

.btn-add-recipe {
  text-decoration: none;
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background: var(--body-color);
  padding: 13px 25px;
  position: relative;
  float: right;
  margin-right: 3rem;
}

/*Cards*/
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  box-shadow: .25rem 0 .8rem rgba(0, 0, 0, .15);
}

.card-content {
  padding: 1rem;
}
.card img {
  width: 100%;
}

.paragraph {
  height: 300px;
}

/*container_links*/
.container_links a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.6rem 0.75rem;
  margin-top: 0.8rem ;
  margin-bottom: 0.8rem;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 3rem;
  cursor: pointer;
}

.link_learn a {
  background-color: var(--link);
  color: var(--dark);
}

.link_edit a {
  background-color: var(--dark);
  color: var(--light);

}

.link_delet a {
  background-color: var(--accent);
  color: var(--dark);
  cursor: pointer;
}

/*Les étapes de la recette*/
ul > h3 {
  padding: 1rem;
}

.form-select .role {
  border: none;
  font-size: 16px;
  padding-top: .3rem;
  height: 100%;
  width: 100%;
  background-color: transparent;

}

/*---- css de méssage d'erreur----*/

.successMsg {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  background-color: rgba(29, 158, 29, .8);
  color: white;
  font-size: 1.2rem;
}

.sup {
  color: rgba(54, 54, 239, .8);
}

.paragraph p {
  margin-top: 1rem;
}

/*Responsive petit tail*/
@media screen and (min-width:375px) and (max-width: 600px) {  
  
  .cards {    
    grid-template-columns: repeat(1, 1fr);
  }

  .paragraph {
      height: 250px;
  }

  .paragraph h2 {
    font-size: 1rem;
  }
 
}

/* Responsive moyen tail*/
 @media screen and (min-width:601px) and (max-width:820px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card-content .paragraph >h2 {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }

  .paragraph p {
    margin-top: 0rem;
  }

  .container >h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;  
  }
}

 /* Responsive grand tail*/
 @media screen and (min-width:821px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .paragraph {
    height: 300px;
  }

  .paragraph h2 {
    font-size: 1.2rem;
  }
 }

